
a {
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.alert-info{
    background-color: #CCFFFE;
    margin: .2em;
    padding: 6px;
    text-align: center;

}


/* Medium and Above Breakpoint*/
@media screen and (min-width:768px) {

}