body{
    font-family: Verdana, sans-serif;
}



a {
    text-decoration: none;
    color: black;
    font-size: 14px;

}

.alert-info{
    margin: .5em;
    padding: .8em;
    text-align: center;
    background-color: #CCFFFE;
    border: 1px solid lightgrey;


}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: lightgrey;
    margin: .5em;
    padding: .8em;
    text-align: center;
}
 li a {
     text-decoration: underline;
     color: royalblue;
     font-size: 16px;
 }

 .header-img{
    text-align: center;
 }
 img  {
     width: 339px;
     height: 224px;
 }

.main{
    padding: 0 0;
    margin: 0 .5em;
}
h2{
    margin-bottom: .2em;
}
 .sub-section{
     font-style: italic;
     padding: .1em 0;
     margin: 2em .5em;
 }
 .sub-section>h2{
     font-size: 20px;
     font-weight: bold;

 }
 footer{
     font-size: 12px;
     padding: 1em 0;
     margin-top: 4em;
 }

/* Medium and Above Breakpoint*/
@media screen and (min-width:768px) {

.hidden-on-desktop{
    visibility:hidden ;
}

h1{
text-align: left;
    display: inline-block;
    float: left;
}

ul {
    margin-left: auto;
display: block;
    float: right;
}



li{
    background-color:white;
    text-align: none;
    display: inline;


}

img{

    height: 385px;
    width: 890px;
    margin: 1em auto;
}

.main{
   width: calc(66% - 1em);
display: inline-block;
float: left;
}

.sub-section{
    width: calc(33% - 1em);
float: right;
    display: inline-block;
    margin: 0 .5em;

}
.header-img{
    width: 100%;
    clear: both;
}
}

footer{
width: 100%;
margin-top: 80em;
clear: both;

}